<div id="documentation" class="examples">
  <div class="container">
    <div class="section-heading">
      <h1 data-wow-delay=".3s" class="title wow fadeInDown" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;">
        Documentation & Configuration
      </h1>
      <div data-wow-delay=".5s" class="wow fadeInUp" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
        <h2 class="lead">An advanced way to get to know ember-initials better</h2>
        <a class="btn btn-lg btn-outline btn-default" href="https://github.com/Exelord/ember-initials">d{{fa-icon 'github'}}cumentati{{fa-icon 'github'}}n</a>
      </div>
    </div>
  </div>
</div>
