<div id="examples">
  <div class="container">
    <div class="section-heading">
      <h1 data-wow-delay=".3s" class="title wow fadeInDown" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInDown;">Live Examples</h1>
    </div>

    {{initials-form}}
  </div>
</div>
