<div class="col-sm-4">
  {{ember-initials class="img-rounded"
    size=size
    name=name
    seedText=seedText
    defaultName=defaultName
    textColor=textColor
    fontSize=fontSize
    fontWeight=fontWeight
    fontFamily=fontFamily
  }}
</div>

<div class="col-sm-4">
  {{ember-initials class="img-circle"
    size=size
    name=name
    seedText=seedText
    defaultName=defaultName
    textColor=textColor
    fontSize=fontSize
    fontWeight=fontWeight
    fontFamily=fontFamily
  }}
</div>

<div class="col-sm-4">
  {{ember-initials class="img-thumbnail"
    size=size
    name=name
    seedText=seedText
    defaultName=defaultName
    textColor=textColor
    fontSize=fontSize
    fontWeight=fontWeight
    fontFamily=fontFamily
  }}
</div>
