<div class="col-sm-4">
  {{ember-avatars/gravatar class="img-rounded"
    size=size
    email=email
  }}
</div>

<div class="col-sm-4">
  {{ember-avatars/initials class="img-circle"
    size=size
    name=name
    seedText=seedText
    defaultName=defaultName
    textColor=textColor
    fontSize=fontSize
    fontWeight=fontWeight
    fontFamily=fontFamily
  }}
</div>

<div class="col-sm-4">
  {{ember-avatars/image class="img-thumbnail"
    image=image
    size=size
  }}
</div>
