<div id="getting-started">
  <div class="container">
    <div class="text-center">
      <h1>Getting started</h1>
      <h2 class="lead">How to start with ember-initials</h2>
    </div>
    <br>

    <h3>1. Instalation</h3>

    <p>Run: <code>ember install ember-initials</code></p>

    <h3>2. Usage</h3>

    <p>Use one of our examples generator to copy-paste the code to your template.</p>

    <h3>3. Configuration</h3>
    Possible <code>options</code> or customization of the components are available in the demo and project's readme.
  </div>
</div>
