<div id="getting-started">
  <div class="container">
    <div class="text-center">
      <h1>Getting started</h1>
      <h2 class="lead">How to start with ember-initials</h2>
    </div>
    <br>

    <h3>1. Instalation</h3>

    <p>Run: <code>ember install ember-initials</code></p>

    <h3>3. Usage example</h3>

    <p>Add one of our components to your template eg:</p>

    <pre>
      <span class="pl-c1">\{{</span><span class="pl-v">ember-initials </span><span class="pl-e"><span class="pl-v">name</span>=</span><span class="pl-s"><span class="pl-pds">"</span>John Doe<span class="pl-pds">"</span></span>}}
    </pre>

    <b>We recomend to generate fully customized component in our live examples.</b>

    <h3>3. Configuration</h3>
    To check possible <code>options</code> or customize the component go to documentation.
  </div>
</div>
