<div id="getting-started">
  <div class="container">
    <div class="text-center">
      <h1>Getting started</h1>
      <h2 class="lead">How to start with ember-initials</h2>
    </div>
    <br>

    <h3>1. Instalation</h3>

    <p>Run: <code>ember install ember-initials</code></p>

    <h3>3. Usage example</h3>

    <p>Add <code>ember-initials</code> component to your template eg:</p>

    <pre><span class="pl-c1">\{{</span><span class="pl-v">ember-initials</span>
    <span class="pl-e"><span class="pl-v">name</span>=</span><span class="pl-s"><span class="pl-pds">"</span>John Doe<span class="pl-pds">"</span></span>
    <span class="pl-e"><span class="pl-v">textColor</span>=</span><span class="pl-s"><span class="pl-pds">'</span>white<span class="pl-pds">'</span></span>
    <span class="pl-e"><span class="pl-v">fontSize</span>=</span><span class="pl-s"><span class="pl-pds">'</span>12px<span class="pl-pds">'</span></span>
    <span class="pl-e"><span class="pl-v">fontWeight</span>=</span><span class="pl-e"><span class="pl-v">200</span></span>
    <span class="pl-e"><span class="pl-v">fontFamily</span>=</span><span class="pl-s"><span class="pl-pds">'</span>Helvetica Neue Light, Arial, sans-serif<span class="pl-pds">'</span></span><span class="pl-c1">}}</span>
    </pre>

    <h3>3. Configuration</h3>
    To check possible <code>options</code> or customize the component go to documentation.
  </div>
</div>
