<footer id="footer">
  <div class="container">
    <div class="content">
      <p class="copyright">
        <i alt="Code" class="fa fa-code"></i> with <a href="https://atom.io" target="_blank"><img src="images/atom.png" alt="Atom"></a>
        by <a href="http://macsour.com">Maciej Kwaśniak</a>
      </p>
      <ul class="social">
        <li>
          <a href="https://github.com/Exelord" target="_blank" class="Github">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/TheMacsour" target="_blank" class="Twitter">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://pl.linkedin.com/in/macsour" target="_blank" class="Linkedin">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
