<div class='container'>
  <a class="github-button" href="https://github.com/exelord/ember-initials"
     data-style="mega" data-count-href="/exelord/ember-initials/stargazers"
     data-count-api="/repos/exelord/ember-initials#stargazers_count"
     data-count-aria-label="# stargazers on GitHub"
     aria-label="Star exelord/ember-initials on GitHub">
     Github
  </a>

  <a href="https://travis-ci.org/Exelord/ember-initials">
    <img src="https://travis-ci.org/Exelord/ember-initials.svg?branch=master" class="travis" />
  </a>
  <img src="ember-initials.png" width="100%" class="img-responsive" />
  <hr>

  <div class="col-sm-12 row description">
    Ember Initials is a package for generating simple avatars with users initials.
    It support Ember 2 apps. Thanks to highly customizable interface you can define your own colors,
    defaults and styles. I promise you, it will do the job!
  </div>

  {{initials-form}}

  <div class="col-sm-12 row footer text-muted">
    <hr>
    For more options and details check the documentaion:
    <a href="https://github.com/Exelord/ember-initials/" target="_blank">
      https://github.com/Exelord/ember-initials
    </a>
  </div>
</div>
