<div id="header">
  {{page-sections/header/navbar}}

  <div class="container text-center">
    <img src="images/logo.png" alt="logo" class="logo">
    <h1 class="lead">Generate users avatars with their initials</h1>
    <h5>Compatible with Ember 2.8 and higher, dedicated for generating avatars on the fly.</h5>
    <br><br><br><br>
    {{scroll-to class="btn btn-lg btn-outline btn-default" href="#getting-started" label="Getting Started" offset=-90}}
  </div>
</div>
